{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="flex">
    <div class="w-1/5 p-4">
        <a href="{% url 'groups:detail_group' group.id %}" class="text-decoration-none text-dark">
            <div class="bg-white rounded-lg shadow-lg p-4 mb-4">
                <h5 class="text-xl font-semibold mb-2">{{ group.group_name }}</h5>
                <p class="text-sm text-gray-500">{{ group.created_at }}</p>
            </div>

            其他群组
            {% for group in groups  %}
                <a href="{% url 'groups:detail_group' group.id %}" class="text-decoration-none text-dark">
                    <div class="bg-white rounded-lg shadow-lg p-4 mb-4">
                        {{ group.group_name }}
                    </div>
                </a>
            {% endfor  %}
        </a>
    </div>

    <div class="w-4/5 p-4">
        <div class="bg-white rounded-lg shadow-lg p-4 mb-4">
            <div class="flex">
                <div class="w-1/2 mx-2">
                   <a href="{% url 'financial_records:create_category' group.id %}" class="bg-emerald-500 text-white py-4 px-6 rounded-xl mb-2">Create Category</a>
                </div>
                
              
            </div>
    
            <div class="w-4/5 mx-2 mt-4">
          
                <h6 class="text-lg font-semibold mb-2">類別 (Categories)</h6>
                {% for category in categories %}
                    <div class="bg-gray-100 p-6 rounded-xl mb-2">
                        <a href="{% url 'financial_records:edit_category' group.id category.id %}" class="bg-emerald-500 text-white py-4 px-6 rounded-xl">  {{ category.name }}</a>
                        <a href="{% url 'financial_records:delete_category' group.id category.id %}" class="text-rose-500 ml-2">Delete</a>
                    </div>
                {% endfor %}

            </div>
            
            <div class="w-1/2 mx-2">
                    
                <a href="{% url 'financial_records:create_record' group.id %}" class="bg-cyan-500 text-white py-4 px-6 rounded-xl mb-2">Create Record</a>
            </div>
            <div class="w-4/5 mx-2 mt-4">
                <h6 class="text-lg font-semibold mb-2">記錄 (Records)</h6>
                <table class="w-full  text-center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Currency</th>
                            <th>Balance</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for record in records %}
                            <tr>
                                <td>{{ record.name }}</td>
                                <td>{{ record.category.name }}</td>
                                <td>{{ record.description }}</td>
                                <td>{{ record.debit|floatformat:2 }}</td>
                                <td>{{ record.credit|floatformat:2 }}</td>
                                <td>{{ record.currency|floatformat:2  }}</td>
                                <td>{{ record.balance|floatformat:2  }}</td>
                                <td>
                                    <a href="{% url 'financial_records:edit_record' group.id record.id %}" class="bg-cyan-500 text-white py-2 px-4 rounded-full">Edit</a>
                                    <a href="{% url 'financial_records:delete_record' group.id record.id %}" class="bg-rose-500 text-white  py-2 px-2 rounded-full">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}
