{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="flex">
    <div class="w-1/5 p-4">
        <a href="{% url 'groups:detail_group' group.id %}" class="text-decoration-none text-dark">
            <div class="bg-white rounded-lg shadow-lg p-4 mb-4">
                <h5 class="text-xl font-semibold mb-2">{{ group.group_name }}</h5>
                <p class="text-sm text-gray-500">{{ group.created_at }}</p>
            </div>

            其他群组
            {% for group in groups  %}
                <a href="{% url 'groups:detail_group' group.id %}" class="text-decoration-none text-dark">
                    <div class="bg-white rounded-lg shadow-lg p-4 mb-4">
                        {{ group.group_name }}
                    </div>
                </a>
            {% endfor  %}
        </a>
    </div>

    <div class="w-4/5 p-4">
        <div class="bg-white rounded-lg shadow-lg p-4 mb-4">
            <div class="flex">
                <div class="w-1/2 mx-2">
                   <a href="{% url 'financial_records:create_category' group.id %}" class="bg-emerald-500 text-white py-4 px-6 rounded-xl mb-2">Create Category</a>
                </div>
            </div>
    
            <div class="w-full mx-2 mt-4">
                <h6 class="text-lg font-semibold mb-2">類別 (Categories)</h6>
                <div class="flex flex-wrap">
                    {% for category in categories %}
                        <div class="bg-gray-100 p-6 rounded-xl mb-2 mr-2">
                            <a href="{% url 'financial_records:edit_category' group.id category.id %}" class="bg-emerald-500 text-white py-4 px-6 rounded-xl mb-2">{{ category.name }}</a>
                            <a href="{% url 'financial_records:delete_category' group.id category.id %}" class="text-rose-500 ml-2">Delete</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="w-full flex flex-wrap">
                <div class="w-full bg-gray-100 p-4 rounded-xl mb-2 mr-2">
                    <div class="flex items-center justify-between">
                        <form id="search_form" class="w-full2 flex items-center" method="get" action="{% url 'financial_records:export-csv' group.id %}">
                            <div class="p-4 mr-2">
                                起始日期 <input type="date" id="from_date" name="from_date">
                            </div>
                            <div class="p-4 mr-2">
                                最终日期 <input type="date" id="to_date" name="to_date">
                            </div>
                            <button type="submit" class="bg-amber-500 text-white py-2 px-4 rounded-xl">匯出 CSV</button>
                        </form>          
                    </div>

                    <div class="w-1/2 bg-gray-100 p-4 rounded-xl mb-2 mr-2">
                        <form method="post" enctype="multipart/form-data" action="{% url 'financial_records:import-csv'  group.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="data_file">選擇CSV文件：</label>
                                <input type="file" name="data_file" accept=".csv" required>
                                <button type="submit" class="bg-cyan-500 text-white py-2 px-4 rounded-xl mt-4 mb-2">匯入 CSV 資料</button>
                            </div>
                        </form>
                    </div>
                </div>
               
            </div>
       

            <div class="w-full mx-2 mt-4"> 
                <h6 class="text-lg font-semibold mb-2">記錄 (Records)</h6>
                <div class="table-responsive">
                    <div class="mt-6 mb-6">
                        <a href="{% url 'financial_records:create_record' group.id %}" class="bg-cyan-500 text-white py-4 px-6 rounded-xl mb-2">Create Record</a>
                    </div>
                    
                    <div class="mt-6 mb-6">
                        <h3 class="text-lg font-semibold">分析每日債務</h3>
                        <!-- <form id="search_form" class="w-full flex items-center" method="get" action="{%  url 'financial_records:analysis' group.id %}"> -->
                        <form id="search_form" class="w-full flex items-center">
                            <div class="p-4 mr-2">
                                起始日期 <input type="date" id="from_date" name="from_date" class="custom-input">
                            </div>
                            <div class="p-4 mr-2">
                                最終日期 <input type="date" id="to_date" name="to_date" class="custom-input">
                            </div>
                            <button id="analyze_button" class="bg-amber-500 text-white py-2 px-4 rounded-xl" type="submit" >條件篩選</button>
                        </form>
                    </div>
                    
                    <div id="chart-container">
                        <canvas id="debit_Barchar" width="400" height="150"></canvas>
                    </div>

                    <table class="w-full mt-6 mb-6 text-center table-fixed">
                        <thead>
                            <tr> 
                                <th>Name</th>
                                <th>Category</th>
                                <th>Remark</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Currency(TwD) </th>
                                <th>Date</th>
                                <th>Balance</th>                    
                                <th>Operator</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in records_page %}
                                <tr class="">
                                    <td class="p-4">{{ record.name }}</td>
                                    <td> 
                                        
                                        {% for category in record.category.all %}
                                            {{ category.name }}
                                        {% endfor %}
                                        
                                    
                                    </td>
                                    <td>{{ record.description }}</td>
                                    <td>{{ record.debit|floatformat:2 }}</td>
                                    <td>{{ record.credit|floatformat:2 }}</td>
                                    <td>{{ record.currency|floatformat:2  }}</td>
                                    <td>{{ record.created_at|date:"Y.m.d"  }}</td>
                                    <td>{{ record.balance|floatformat:2  }}</td>                    
                                    <td>
                                        <a href="{% url 'financial_records:edit_record' group.id record.id %}" class="bg-cyan-500 text-white py-1 px-2 rounded-full">Edit</a>
                                        <a href="{% url 'financial_records:delete_record' group.id record.id %}" class="text-rose-500 ml-2">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>              
                    </table>
                
                   
                            
                    <div class="w-full flex flex-col justify-items-center "> 
                        <div class="w-full text-center mb-6">
                            <h3 class="text-lg ">Current Page: {{ records_page.number }}</h3>
                        </div>

                        <div class="w-full flex  items-center justify-center space-x-4">  
                            {% if records_page.has_previous %}
                                <a href="?page=1" class="bg-cyan-500 text-white py-2 px-4 rounded-lg hover:bg-cyan-600">Go First Page</a>
                                <a href="?page={{ records_page.previous_page_number }}" class="bg-cyan-500 text-white py-2 px-4 rounded-lg hover:bg-cyan-600">Previous Page</a>
                            {% endif %}
                        
                            <span class="text-gray-500">Page {{ records_page.number }} of {{ records_page.paginator.num_pages }}</span>
                        
                            {% if records_page.has_next %}
                                <a href="?page={{ records_page.next_page_number }}" class="bg-cyan-500 text-white py-2 px-4 rounded-lg hover:bg-cyan-600">Next Page</a>
                                <a href="?page={{ records_page.paginator.num_pages }}" class="bg-cyan-500 text-white py-2 px-4 rounded-lg hover:bg-cyan-600">Go Last Page &raquo;</a>
                            {% endif %}
                        </div>
                    </div>
            </div>

        </div>
    </div>
    
   
    
    <script>
$(document).ready(function () {
    
    var urlParams = new URLSearchParams(window.location.search);


    var ctx = document.getElementById('debit_Barchar').getContext('2d');
    var from_date = $("#from_date").val();
    var to_date = $("#to_date").val();

    var urlParams = new URLSearchParams(window.location.search);
    var url_from_date = urlParams.get('from_date');
    var url_to_date = urlParams.get('to_date');

    if (url_from_date && url_to_date) {
        from_date = url_from_date;
        to_date = url_to_date;
    }

    var url;

    // from_date to_date 參數檢查
    if (from_date && !to_date) {
        url = "{% url 'financial_records:analysis' group.id %}";
    } else {
        url = "{% url 'financial_records:analysis' group.id %}?from_date=" + from_date + "&to_date=" + to_date;
    }
    
    console.log('from_date:', from_date);
    console.log('to_date:', to_date);



    
    $.ajax({
        method: 'GET',
        url: url,
        success: function(data) {
            const targetDate = from_date;

            const index = data.labels.findIndex(date => date === targetDate);

            console.log("targetDate:", targetDate);
            console.log("index:", index);

            // 判斷是否有選擇日期，如果沒有則顯示整個月的資料
            // 如果已選擇了有效日期
            if (index >= 0) {
                // 從該日期開始的資料
                filteredData = {
                    labels: data.labels.slice(index),
                    total_debits: data.total_debits.slice(index)
                };
            } else {
                // 如果未選擇有效日期，則使用整個月的資料
                filteredData = data;
            }

            console.log('data:', data);
            console.log('filteredData:', filteredData);

            var chartData = {
                labels: filteredData.labels,
                datasets: [
                    {
                        label: 'Daily Debits',
                        data: filteredData.total_debits,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                    },
                ],
            };

            var debit_Barchar = new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: {
                    // 配置其他图表选项
                },
            });
        },
        error: function(error_data) {
            console.log('Error fetching data');
        }
    });
});
    </script>
{% endblock %}
