{% extends 'core/base.html' %}

{% block title %}Links{% endblock %}

{% block content %}
    <h1 class="mb-6 text-xl">Groups</h1>

    <a href="{% url 'groups:create_group' %}" class="inline-block mb-6 mb-6 py-4 px-6 bg-cyan-600 text-white rounded-xl">Create Group</a>

    <div class="grid grid-cols-3 gap-3">
        {% for group in groups %}
            <div class="bg-gracy-100 p-6 rounded-xl">   
                <a href="#" class="mb-6 mb-6 py-4 px-6 text-decoration-none text-dark">{{ group.group_name }}</a>
               
                <a href="{% url 'groups:detail_group' group.id %}" class="mb-4 text-xl text-cyan-700" target="_blank">Open Group</a>
                |
               <a href="{% url 'groups:edit_group' group.id  %}" class="text-cyan-700" target="_blank">Edit </a>
                |
                <a href="{% url 'groups:delete_group' group.id  %}" class="text-rose-700" target="_blank">Delete </a>
             </div>  
        {% empty %}
            <div class="bg-rose-200 p-6 rounded-xl">You dont have any Groups!</div>
        {% endfor %}
    </div>

{% endblock %}