{% extends 'core/base.html' %}

{% block title %}Records Analysis{% endblock %}

{% block content %}
<canvas id="myChart" width="400" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function () {
    var ctx = document.getElementById('myChart').getContext('2d');
    $.ajax({
        method: 'GET',
        url: "{% url 'financial_records:analysis' group.id %}",
        success: function (data) {
            var myChart = new Chart(ctx, {
                type: 'bar',  // 设置图表类型为柱状图
                data: {
                    labels: data.labels,  // 使用从Ajax请求获取的标签数据
                    datasets: [{
                        label: '每日支出',
                        data: data.total_debits,  //以ajax用json格式傳輸
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        x: {
                            beginAtZero: true  // 设置横轴的配置
                        },
                        y: {
                            beginAtZero: true  // 设置纵轴的配置
                        }
                    }
                }
            });
        },
        error: function (error_data) {
            console.log('Error fetching data');
        }
    });
});
</script>
{% endblock content %}
